<!-- ! TODO -->
{% macro process_notification(items) %} {% for item in items %}
<div class="tool-notification">
  <div class="tool-notification-container tool-notification-{{ item.class }}">
    <h3 class="tool-notification-h tool-notification-h-{{ item.class }}">
      {{ item.title }}
    </h3>
    <p class="tool-notification-content">{{ item.text }}</p>
  </div>
</div>
{% endfor %} {% endmacro %}
<!-- PROCESS_CARDS -->
{% macro process_cards(items) %}
<div class="tool-cards">
  {% for item in items %}
  <div class="tool-cards-item" data-id="{{ item.id }}" data-type="{{ item.type }}" data-liked="{{ item.liked }}">
    <img
      src="{{ url_for('static', filename='images/structures/'+item.id+'.png') }}"
      alt=""
      class="tool-cards-item-img"
    />
    <p class="tool-cards-item-name">{{ item.name }}</p>
    <p class="tool-cards-item-extra">{{ item.name_iupac }}</p>
    <p class="tool-cards-item-extra">Формула: {{ item.formula }}</p>
    <p class="tool-cards-item-extra">Масса: {{ item.mass }}</p>
    <img
      src="{{ url_for('static', filename='images/ui/' + ('heart-red.png' if item.liked == 'true' else 'heart-empty.png')) }}"
      alt=""
      class="tool-cards-item-like"
    />
  </div>
  {% endfor %}
</div>
{% endmacro %}
<!-- PAGES_ROW -->
{% macro pages_row(pages_count) %}
<div class="tool-pages-row">
  {% set current_page = (request.args.get("p")|int if request.args.get("p")|int > 0 else 1) %}
  {% set url_params = request.query_string.decode()|regex_replace("[?&]*p=([^&#=]*)[&]*", "") %}
  {% set url = request.path ~ "?" ~ ("p=" if url_params == "" else url_params ~ "&p=") %}
  {% if current_page != 1 %}
  <!--  -->
  {% if current_page - 2 > 1 %}
  <a href="{{ url ~ 1 }}" class="tool-pages-row-item-empty"><<</a>
  {% endif %}
  <a
    href="{{ url ~ (current_page - 1) if current_page - 1 != 1 else url }}"
    class="tool-pages-row-item-empty tool-pages-row-item-"
    ><</a
  >
  {% endif %}
  <!--  -->
  {% if current_page - 2 > 1 %}
  <div class="tool-pages-row-item-empty">...</div>
  {% endif %}
  <!--  -->
  {% for n in range( current_page - 2 if current_page - 2 > 0 else 1,
  current_page + 3 if current_page + 2 < pages_count else pages_count + 1 ) %}
  {% if n == current_page %}
  <div class="tool-pages-row-item-empty tool-pages-row-item active">
    {{ n }}
  </div>
  {% else %}
  <a
    href="{{ url ~ n }}"
    class="tool-pages-row-item-empty tool-pages-row-item"
    >{{ n }}</a
  >
  {% endif %} {% endfor %} {% if current_page + 2 < pages_count %}
  <div class="tool-pages-row-item-empty">...</div>
  {% endif %} {% if current_page != pages_count %}
  <a
    href="{{ url ~ (current_page + 1) }}"
    class="tool-pages-row-item-empty"
    >></a
  >
  {% if current_page + 2 < pages_count %}
  <a href="{{ url ~ pages_count }}" class="tool-pages-row-item-empty"
    >>></a
  >
  {% endif %} {% endif %}
</div>
{% endmacro %}
