{% macro call_notification(class, title, text) %}
<div class="tool-notification">
  <div class="tool-notification-container tool-notification-{{ class }}">
    <h3 class="tool-notification-h tool-notification-h-{{ class }}">
      {{ title }}
    </h3>
    <p class="tool-notification-content">{{ text }}</p>
  </div>
</div>
{% endmacro %} {% macro cards(items) %}
<div class="tool-cards">
  {% for item in items %}
  <div class="tool-cards-item" data-id="{{ item.id }}">
    <img
      src="{{ url_for('static', filename='images/structures/'+item.id+'.png') }}"
      alt=""
      class="tool-cards-item-img"
    />
    <p class="tool-cards-item-name">{{ item.name }}</p>
    <p class="tool-cards-item-extra">{{ item.name_iupac }}</p>
    <p class="tool-cards-item-extra">Масса: {{ item.mass }}</p>
    <img
      src="{{ url_for('static', filename='images/ui/' + ('heart-red.png' if item.liked == 'true' else 'heart-empty.png')) }}"
      alt=""
      class="tool-cards-item-like"
      data-id="{{ item.id }}"
      data-state="{{ item.liked }}"
    />
  </div>
  {% endfor %}
</div>
<script src="{{ url_for('static', filename='js/cards.js') }}"></script>
{% endmacro %}
