<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ APP_NAME }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/vars.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
  </head>

  <body class="root">
    <header class="layout-header">
      <a href="/">
        <div class="layout-header-icon">⌬</div>
      </a>
      <div class="layout-header-search">
        <input
          placeholder="Поиск..."
          type="text"
          class="layout-header-search-input empty-input"
          id="layout-header-search-input"
        />
        <button
          class="layout-header-search-button empty-button"
          id="layout-header-search-button-clear"
        >
          <img
            src="{{ url_for('static', filename='images/ui/x.png') }}"
            alt=""
            class="layout-header-search-button-img"
          />
        </button>
        <button
          class="layout-header-search-button empty-button"
          id="layout-header-search-button-send"
        >
          <img
            src="{{ url_for('static', filename='images/ui/search.png') }}"
            alt=""
            class="layout-header-search-button-img"
          />
        </button>
      </div>
      <div class="layout-header-nav">
        <a href="/usful-information/" class="layout-header-nav-link"
          >Полезная информация</a
        >
        <a href="/about/" class="layout-header-nav-link">О нас</a>
        {% if user is defined %}
        <a href="/like/" class="layout-header-nav-link">
          <img
            src="{{ url_for('static', filename='images/ui/heart.png') }}"
            alt=""
            class="layout-header-nav-link-like-img"
          />
        </a>
        <a href="/account/" class="layout-header-nav-link">
          <img
            src="{{ url_for('static', filename='images/ui/profile-user.png') }}"
            alt=""
            class="layout-header-nav-link-account-img"
          />
        </a>
        {% else %}
        <a
          href="/register/"
          class="layout-header-nav-link layout-header-nav-link-register"
          >Регистрация</a
        >
        <a
          href="/login/"
          class="layout-header-nav-link layout-header-nav-link-login"
          >Вход</a
        >
        {% endif %}
      </div>
    </header>
    <section class="layout-main">{% block content %}{% endblock %}</section>
    <footer class="layout-footer"></footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
