<!DOCTYPE html>
{% from 'other/tools.html' import process_panel_list %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{{ APP_NAME }}{% if user is defined %} - Вход выполнен{%
      endif %}{% endblock %}{% block title_extra %}{% endblock %}
    </title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script>
      THEME_TYPE = "{{ THEME_TYPE }}";
    </script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='themes/' ~ THEME ~ '-' ~ THEME_TYPE ~ '.css') }}"
    />
  </head>

  <body class="root">
    <script src="{{ url_for('static', filename='js/tools.js') }}"></script>
    <header class="layout-header">
      <div class="layout-header-container">
        <a href="/">
          <div class="layout-header-icon">⌬</div>
        </a>
        <div class="layout-header-search">
          <input
            placeholder="Поиск..."
            type="text"
            class="layout-header-search-input empty-input"
            id="layout-header-search-input"
          />
          <button
            class="layout-header-search-button empty-button"
            id="layout-header-search-button-clear"
          >
            <img
              src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/x.png') }}"
              alt=""
              class="layout-header-search-button-img"
            />
          </button>
          <button
            class="layout-header-search-button empty-button"
            id="layout-header-search-button-advanced"
          >
            <img
              src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/arrow-down.png') }}"
              alt=""
              class="layout-header-search-button-img"
            />
          </button>
          <div class="layout-header-search-advanced">
            <div class="layout-header-search-advanced-tabs">
              <div
                class="layout-header-search-advanced-tabs-item active"
                data-type="0"
              >
                Вещество
              </div>
              <div
                class="layout-header-search-advanced-tabs-item"
                data-type="1"
              >
                Синтез
              </div>
            </div>
            <div
              class="layout-header-search-advanced-tab active"
              data-type="0"
            ></div>
            <div class="layout-header-search-advanced-tab" data-type="1"></div>
          </div>
        </div>
        <div class="layout-header-nav">
          <a href="/about/" class="layout-header-nav-link">О проекте</a>
        </div>
      </div>
    </header>
    <section class="layout-main">
      <div class="layout-main-sidebar">
        <div class="layout-main-sidebar-top"></div>
        <div class="layout-main-sidebar-bottom">
          <div
            class="layout-main-sidebar-button"
            data-panel-id="history"
            title="История"
          >
            <img
              src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/history.png') }}"
              alt=""
              class="layout-main-sidebar-button-img"
              style="height: 40px"
            />
          </div>
          <div
            class="layout-main-sidebar-button"
            data-panel-id="likes"
            title="Отмеченные"
          >
            <img
              src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/heart.png') }}"
              alt=""
              class="layout-main-sidebar-button-img"
              style="height: 30px"
            />
          </div>
          <div
            class="layout-main-sidebar-button"
            data-panel-id="theme"
            title="Тема сайта"
          >
            <img
              src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/palete.png') }}"
              alt=""
              class="layout-main-sidebar-button-img"
              style="height: 30px"
            />
          </div>
          <a href="/account/" class="layout-main-sidebar-button" title="Аккаунт"
            ><img
              src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/user.png') }}"
              alt=""
              class="layout-main-sidebar-button-img"
              style="height: 40px"
            />
          </a>
          {% if user is defined %}
          <a href="/account/" class="layout-main-sidebar-button" title="Аккаунт"
            ><img
              src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/logout.png') }}"
              alt=""
              class="layout-main-sidebar-button-img"
              style="height: 30px"
            />
            {% endif %}
          </a>
        </div>
      </div>
      <div class="layout-main-container">{% block content %}{% endblock %}</div>
    </section>
    <div class="layout-panel" data-panel-id="history">
      <div class="layout-panel-header">
        <img
          src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/arrow-right-d.png') }}"
          alt=""
          class="layout-panel-header-hide"
        />
        <b>История</b>
        <img
          src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/history.png') }}"
          alt=""
          class="layout-panel-header-icon"
          style="height: 30px"
        />
      </div>
      <div class="layout-panel-container">
        {{ process_panel_list(recent_substances) }}
      </div>
    </div>
    <div class="layout-panel" data-panel-id="likes">
      <div class="layout-panel-header">
        <img
          src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/arrow-right-d.png') }}"
          alt=""
          class="layout-panel-header-hide"
        />
        <b>Отмеченные</b>
        <img
          src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/heart.png') }}"
          alt=""
          class="layout-panel-header-icon"
          style="height: 24px"
        />
      </div>
      <div class="layout-panel-container">
        {{ process_panel_list(liked_substances) }}
      </div>
    </div>
    <div class="layout-panel" data-panel-id="theme">
      <div class="layout-panel-header">
        <img
          src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/arrow-right-d.png') }}"
          alt=""
          class="layout-panel-header-hide"
        />
        <b>Тема сайта</b>
        <img
          src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/palete.png') }}"
          alt=""
          class="layout-panel-header-icon"
          style="height: 24px"
        />
      </div>
      <div class="layout-panel-container"></div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
