.root {
  overflow-y: auto;
  font-family: "Lato", sans-serif;
  background: var(--color-sec-);
}

/* HELPERS */
.empty-button,
.empty-input {
  background: transparent;
  border: 0;
}
/* END HELPERS */

.layout-header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  align-items: center;
  background: linear-gradient(
      0.25turn,
      var(--color-primary),
      var(--color-primary-)
    )
    20%;
}

.layout-header > * {
  margin: 0 10px;
}

.layout-header-icon {
  transition: var(--transition-fast);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1px 1px 0;
  font-size: 40px;
  color: var(--color-sec-);
  border: 2px solid var(--color-sec-);
  border-radius: 10px;
}
.layout-header-icon:hover {
  box-shadow: 0 0 10px var(--color-sec);
  text-shadow: 0 0 10px var(--color-sec);
  color: var(--color-sec);
  border-color: var(--color-sec);
}

.layout-header-search {
  transition: var(--transition);
  height: auto;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-sec-);
  border-radius: 10px;
}
.layout-header-search:hover,
.layout-header-search:focus-within {
  box-shadow: 0 0 10px var(--color-sec);
}
.layout-header-search-input {
  height: 40px;
  width: 100%;
  padding: 0 10px 0 10px;
  color: var(--color-sec);
}
.layout-header-search-button {
  cursor: pointer;
  height: 24px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-header-search-button-img {
  height: 16px;
  width: 16px;
}
#layout-header-search-button-clear {
  transition: var(--transition);
}
.layout-header-search-input:placeholder-shown
  ~ #layout-header-search-button-clear {
  visibility: hidden;
  opacity: 0;
}
.layout-header-search-input:not(:placeholder-shown)
  ~ #layout-header-search-button-clear {
  opacity: 0.6;
}
.layout-header-search-input:not(:placeholder-shown)
  ~ #layout-header-search-button-clear:hover {
  opacity: 1;
}
#layout-header-search-button-send {
  border-left: 1px solid var(--color-sec);
}

.layout-header-nav {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  color: var(--color-sec);
}
.layout-header-nav-link {
  transition: var(--transition);
}
.layout-header-nav-link:hover {
  text-shadow: 0 0 5px var(--color-sec);
}
.layout-header-nav-link:not(:nth-last-child(-1n + 1)) {
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}
.layout-header-nav-link:not(:nth-last-child(-1n + 3)) {
  border-right: 1px solid var(--color-sec);
}
.layout-header-nav-link-like-img {
  height: 32px;
  width: 32px;
}
.layout-header-nav-link-account-img {
  height: 32px;
  width: 32px;
}
.layout-header-nav-link-register,
.layout-header-nav-link-login {
  transition: var(--transition);
  padding: 5px !important;
  border: 1px solid var(--color-sec);
  border-radius: 10px;
}
.layout-header-nav-link-register:hover,
.layout-header-nav-link-login:hover {
  box-shadow: 0 0 10px var(--color-sec);
}

.layout-main {
  min-height: calc(100vh - 240px);
  height: auto;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}
.layout-main > * {
  height: 100%;
  width: 100%;
}
.layout-footer {
  height: 160px;
  width: 100%;
  background: var(--color-extra);
}

.tool-notification {
  overflow: hidden;
  position: fixed;
  top: 90px;
  right: 10px;
  height: max-content;
  width: 300px;
  background: var(--color-extra);
  border-radius: 10px;
}
.tool-notification-container {
  position: relative;
  padding: 5px 5px 5px 10px;
  color: var(--color-sec);
}
.tool-notification-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
}
.tool-notification-error::after {
  background: #f03737;
}
.tool-notification-success::after {
  background: #2ed165;
}
.tool-notification-info::after {
  background: #5c4aff;
}
.tool-notification-h {
  font-weight: 900;
}
.tool-notification-h-error {
  color: #f03737;
}
.tool-notification-h-success {
  color: #2ed165;
}
.tool-notification-h-info {
  color: #5c4aff;
}

.tool-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: max-content;
  gap: 10px;
}
.tool-cards-item {
  cursor: pointer;
  font-family: "Poppins", serif;
  position: relative;
  padding: 10px;
  height: max-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  background: var(--color-extra);
  border-radius: 10px;
}
.tool-cards-item-name,
.tool-cards-item-extra {
  word-break: break-all;
  cursor: text;
  user-select: text;
  color: var(--color-sec);
}
.tool-cards-item-name {
  font-size: 20px;
}
.tool-cards-item-extra {
  font-style: italic;
  opacity: 0.7;
}
.tool-cards-item-img {
  height: 180px;
  width: 280px;
  border-radius: 8px;
  margin: 0 0 10px 0;
}
.tool-cards-item-like {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 24px;
  width: 24px;
}
