.root {
  font-family: "Lato", sans-serif;
  background: var(--color-sec-);
}

/* HELPERS */
.empty-button,
.empty-input {
  background: transparent;
  border: 0;
}
/* END HELPERS */

.layout-header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
      0.25turn,
      var(--color-primary),
      var(--color-primary-)
    )
    20%;
}
.layout-header-container {
  height: 100%;
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout-header-container > * {
  margin: 0 10px;
}

.layout-header-icon {
  transition: var(--transition-fast);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1px 1px 0;
  font-size: 40px;
  color: var(--color-sec-);
  border: 2px solid var(--color-sec-);
  border-radius: 10px;
}
.layout-header-icon:hover {
  box-shadow: 0 0 10px var(--color-sec);
  text-shadow: 0 0 10px var(--color-sec);
  color: var(--color-sec);
  border-color: var(--color-sec);
}

.layout-header-search {
  position: relative;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-sec-);
  border-radius: 10px;
}
.layout-header-search-input {
  height: 50px;
  width: 100%;
  padding: 0 10px 0 10px;
  color: var(--color-sec);
}
.layout-header-search-button {
  cursor: pointer;
  height: 24px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-header-search-button-img {
  height: 24px;
  width: 24px;
}
#layout-header-search-button-clear {
  transition: var(--transition);
}
.layout-header-search-input:placeholder-shown
  ~ #layout-header-search-button-clear {
  visibility: hidden;
  opacity: 0;
}
.layout-header-search-input:not(:placeholder-shown)
  ~ #layout-header-search-button-clear {
  opacity: 0.6;
}
.layout-header-search-input:not(:placeholder-shown)
  ~ #layout-header-search-button-clear:hover {
  opacity: 1;
}
#layout-header-search-button-advanced {
  border-left: 1px solid var(--color-sec);
}
.layout-header-search-advanced {
  z-index: 1;
  overflow: hidden;
  transition: var(--transition);
  position: absolute;
  top: 50px;
  height: 0;
  width: 100%;
  background: var(--color-extra);
  border-radius: 0 0 10px 10px;
}
.layout-header-search-advanced.active {
  height: max-content;
  padding: 0 10px 15px 10px;
  border: 2px solid var(--color-sec-);
}
.layout-header-search:not(:has(> .layout-header-search-advanced.active)) {
  transition: var(--transition);
  transition-delay: calc(var(--transition) - 0.1s);
}
.layout-header-search:has(> .layout-header-search-advanced.active) {
  border-radius: 10px 10px 0 0;
}
.layout-header-search-advanced-tabs {
  overflow: hidden;
  height: 40px;
  width: 100%;
  display: flex;
}
.layout-header-search-advanced-tabs-item {
  transition: var(--transition);
  cursor: pointer;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-sec);
  border-bottom: 2px solid var(--color-sec);
}
.layout-header-search-advanced-tabs-item.active {
  /* background: var(--color-primary); */
  border-color: var(--color-primary);
}

.layout-header-nav {
  margin: 0 30px 0 0;
  display: flex;
  align-items: center;
  color: var(--color-sec);
}
.layout-header-nav-link {
  width: min-content;
  padding: 10px;
  border: 1px solid var(--color-sec);
  border-radius: 10px;
  white-space: nowrap;
  transition: var(--transition);
}
.layout-header-nav-link:hover {
  text-shadow: 0 0 5px var(--color-sec);
}
.layout-header-nav-link:not(:last-child) {
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}
.layout-header-nav-link:not(:last-child) {
  border-right: 1px solid var(--color-sec);
}

.layout-main {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
}
/* ! TODO */
.layout-main-sidebar {
  height: 100%;
  width: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--color-extra);
}
.layout-main-sidebar > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.layout-main-sidebar-button {
  transition: var(--transition-fast);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-main-sidebar-button:hover {
  width: calc(100% - 4px);
  margin: 0 4px 0 0;
  border-left: 4px solid var(--color-sec);
}
.layout-main-sidebar-button.active {
  width: calc(100% - 4px);
  margin: 0 4px 0 0;
  border-left: 4px solid var(--color-primary);
}
.layout-main-sidebar-top > .layout-main-sidebar-button {
  padding: 16px 0;
}
.layout-main-sidebar-bottom > .layout-main-sidebar-button {
  padding: 16px 0;
}

.layout-main-container {
  overflow: auto;
  height: 100%;
  width: calc(100% - 64px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.layout-main-container > * {
  height: 100%;
  width: 100%;
}
.layout-footer {
  height: 160px;
  width: 100%;
  background: var(--color-extra);
}

.layout-panel {
  transition: var(--transition);
  position: absolute;
  top: 80px;
  right: -500px;
  height: calc(100% - 80px);
  width: 500px;
  padding: 0 10px;
  background: var(--color-extra);
  /* border-left: 4px solid var(--color-sec-); */
}
.layout-panel.active {
  right: 0;
}
.layout-panel-header {
  height: 60px;
  padding: 0 15px 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-sec);
  color: var(--color-sec);
}
.layout-panel-header-hide {
  height: 32px;
}
.layout-panel-header-hide {
  cursor: pointer;
}
.layout-panel-container {
  overflow: auto;
  height: calc(100% - 60px);
  width: 100%;
}

/* ! TODO */
.tool-notification {
  overflow: hidden;
  position: fixed;
  top: 90px;
  right: 10px;
  height: max-content;
  width: 300px;
  background: var(--color-extra);
  border-radius: 10px;
}
.tool-notification-container {
  position: relative;
  padding: 5px 5px 5px 10px;
  color: var(--color-sec);
}
.tool-notification-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
}
.tool-notification-error::after {
  background: #f03737;
}
.tool-notification-success::after {
  background: #2ed165;
}
.tool-notification-info::after {
  background: #5c4aff;
}
.tool-notification-h {
  font-weight: 900;
}
.tool-notification-h-error {
  color: #f03737;
}
.tool-notification-h-success {
  color: #2ed165;
}
.tool-notification-h-info {
  color: #5c4aff;
}

.cards-category {
  width: 100%;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-category-header {
  width: 100%;
  font-size: 24px;
  color: var(--color-sec);
  margin: 0 0 10px 0;
}
.tool-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: max-content;
  gap: 10px;
}
.tool-cards-item {
  cursor: pointer;
  font-family: "Poppins", serif;
  position: relative;
  padding: 10px;
  height: max-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  background: var(--color-extra);
  border-radius: 10px;
}
.tool-cards-item-name,
.tool-cards-item-extra {
  word-break: break-all;
  cursor: text;
  user-select: text;
  color: var(--color-sec);
}
.tool-cards-item-name {
  font-size: 20px;
}
.tool-cards-item-extra {
  font-style: italic;
  opacity: 0.7;
}
.tool-cards-item-image {
  height: 180px;
  width: 280px;
  border-radius: 8px;
  margin: 0 0 10px 0;
}
.tool-cards-item-like {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 24px;
  width: 24px;
}

.tool-pages-row {
  height: 50px;
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
}
.tool-pages-row-item-empty {
  font-size: 20px;
  color: var(--color-sec);
  height: 50px;
  width: 40px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tool-pages-row-item {
  background: var(--color-extra);
  border-radius: 5px;
}
.tool-pages-row-item.active {
  cursor: default;
  background: var(--color-primary);
  border: none;
}

.tool-panel-list {
  height: 100%;
  width: 100%;
}
.tool-panel-list-item {
  position: relative;
  cursor: pointer;
  font-family: "Poppins", serif;
  height: 140px;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  background: var(--color-sec-);
  color: var(--color-sec);
}
.tool-panel-list-item-image {
  height: 120px;
  width: 186px;
  border-radius: 10px;
}
.tool-panel-list-item-information {
  width: calc(100% - 196px);
  margin: 0 0 0 10px;
}
.tool-panel-list-item-information-name,
.tool-panel-list-item-information-extra {
  word-break: break-all;
  cursor: text;
  user-select: text;
  color: var(--color-sec);
}
.tool-panel-list-item-information-name {
  font-size: 20px;
}
.tool-panel-list-item-information-extra {
  font-style: italic;
  opacity: 0.7;
}
.tool-panel-list-item-like {
  position: absolute;
  top: 10px;
  left: 166px;
  height: 24px;
  width: 24px;
  margin: 5px 0 0 0;
}
