<!-- TODO -->
{% extends 'layouts/main.html' %}
<!--  -->
{% block content %}
<!--  -->
{% if edit %}
<script src="{{ url_for('static', filename='js/ckeditor/ckeditor.js') }}"></script>

<h2 class="substance-category-header">
  <textarea data-name required rows="1" class="substance-editable-text">
{{ substance['name'] }}</textarea
  >
</h2>
<div class="substance-category substance-category-base editable">
  <div class="substance-category-base-description">
    <textarea
      rows="10"
      style="float: left"
      class="substance-editable-text"
      id="description-editor"
    >
{{ substance["description"] }}</textarea
    >
  </div>
  <table class="substance-characteristics-table">
    <tr>
      <td colspan="2">
        <img
          src="{{ url_for('static', filename='db/structures/' ~ substance['id'] ~ '.png') }}"
          alt=""
          class="substance-characteristics-table-header-image"
        />
      </td>
    </tr>
    <tr class="substance-characteristics-table-header">
      <td colspan="2"><b>Основное</b></td>
    </tr>
    <tr class="substance-characteristics-table-string">
      <td><i>Названия</i></td>
      <td>
        <textarea data-other_names rows="1" class="substance-editable-text">
{{ substance['other_names'] | join(', ') }}</textarea
        >
      </td>
    </tr>
    <tr class="substance-characteristics-table-string">
      <td><i>Систематическое название</i></td>
      <td>
        <textarea data-name_iupac rows="1" class="substance-editable-text">
{{ substance['name_iupac'] }}</textarea
        >
      </td>
    </tr>
    <tr class="substance-characteristics-table-string">
      <td><i>Формула</i></td>
      <td>
        <textarea data-bruto_formula rows="1" class="substance-editable-text">
{{ substance['bruto_formula'] }}</textarea
        >
      </td>
    </tr>
    <tr class="substance-characteristics-table-string">
      <td><i>Масса</i></td>
      <td>
        <p data-mass="{{ substance['mass'] }}" rows="1">
          {{ substance['mass'] }} г / моль
        </p>
      </td>
    </tr>
    {% for characteristics in [["Физические свойства", "physical"],["Химические
    свойства", "chemical"],["Классификация", "сlassification"],["Безопасность",
    "safety"]] %}
    <tr class="substance-characteristics-table-header">
      <td colspan="2"><b>{{ characteristics[0] }}</b></td>
    </tr>
    {% for item in substance["characteristics"][characteristics[1]] %}
    <tr
      data-characteristics="{{ characteristics[1] }}"
      class="substance-characteristics-table-string deletable"
    >
      <td>
        <textarea
          data-characteristics-name
          rows="1"
          class="substance-editable-text"
        >
{{ item["name"] }}</textarea
        >
      </td>
      <td>
        <textarea
          data-characteristics-value
          rows="1"
          class="substance-editable-text"
        >
{{ item["value"] }}</textarea
        >
      </td>
    </tr>
    {% endfor %}
    <tr class="substance-characteristics-table-string">
      <td
        colspan="2"
        class="substance-characteristics-table-string-add"
        data-characteristics="{{ characteristics[1] }}"
      >
        <b>+</b>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
<h2 class="substance-category-header">Синтезы</h2>
<div class="substance-category">
  {% for item in syntheses %}
  <img
    src="{{ url_for('static', filename='db/syntheses/' ~ item['id'] ~ '.png') }}"
    alt=""
    class="substance-synthesis"
  />
  {% endfor %}
</div>
<h2 class="substance-category-header">Источники</h2>
<div class="substance-category">
  <ul class="substance-category-sources">
    {% for source in substance["sources"] %}
    <li class="substance-category-sources-item">
      <textarea rows="1" class="substance-editable-text">{{ source }}</textarea>
    </li>
    {% endfor %}
  </ul>
  <button class="substance-category-source-add">+</button>
</div>
<form class="substance-editable-data" action="" method="post">
  <input name="name" type="text" />
  <input name="other_names" type="text" />
  <input name="name_iupac" type="text" />
  <input name="bruto_formula" type="text" />
  <input name="mass" type="text" />
  <input name="characteristics" type="text" />
  <textarea name="description" type="text"></textarea>
  <input name="sources" type="text" />
</form>
<button class="substance-editable-save">Сохранить</button>
<button class="substance-editable-delete">удалить</button>
<script>
  editable_substance_init();
</script>
{% else %}

<div class="substance-category-main-header">
  <h2 class="">{{ substance["name"] }}</h2>
  <div class="substance-category-main-header-buttons">
    <img
      data-liked="{{ substance['liked'] }}"
      src="{{ url_for('static', filename='images/ui/' + THEME_TYPE + '/' + ('heart-red.png' if substance['liked'] == 'true' else 'heart-empty.png')) }}"
      alt=""
      class="substance-category-main-header-buttons-image substance-category-main-header-buttons-like"
      style="height: 28px; margin-right: 20px"
    />
    <a href="./edit"
      ><img
        src="{{ url_for('static', filename='images/ui/' ~ THEME_TYPE ~ '/pencil.png') }}"
        alt=""
        class="substance-category-main-header-buttons-image"
        style="height: 26px"
    /></a>
  </div>
</div>
<div class="substance-category">
  <table class="substance-characteristics-table">
    <tr>
      <td colspan="2">
        <img
          src="{{ url_for('static', filename='db/structures/' ~ substance['id'] ~ '.png') }}"
          alt=""
          class="substance-characteristics-table-header-image"
        />
      </td>
    </tr>
    <tr class="substance-characteristics-table-header">
      <td colspan="2"><b>Основное</b></td>
    </tr>
    <tr class="substance-characteristics-table-string">
      <td>Названия</td>
      <td>{{ substance["other_names"] | join(', ') }}</td>
    </tr>
    <tr class="substance-characteristics-table-string">
      <td>Систематическое название</td>
      <td>{{ substance["name_iupac"] }}</td>
    </tr>
    <tr class="substance-characteristics-table-string">
      <td>Формула</td>
      <td>{{ substance["bruto_formula"] }}</td>
    </tr>
    <tr class="substance-characteristics-table-string">
      <td>Масса</td>
      <td>{{ substance["mass"] }} г / моль</td>
    </tr>
    {% for characteristics in [["Физические свойства", "physical"],["Химические
    свойства", "chemical"],["Классификация", "сlassification"],["Безопасность",
    "safety"]] %}
    <tr class="substance-characteristics-table-header">
      <td colspan="2"><b>{{ characteristics[0] }}</b></td>
    </tr>
    {% for item in substance["characteristics"][characteristics[1]] %}
    <tr class="substance-characteristics-table-string">
      <td>{{ item["name"] }}</td>
      <td>{{ item["value"] }}</td>
    </tr>
    {% endfor %} {% endfor %}
  </table>
  <p>{{ substance["description"] }}</p>
</div>
<h2 class="substance-category-header">Синтезы</h2>
<div class="substance-category">
  {% for item in syntheses %}
  <img
    src="{{ url_for('static', filename='db/syntheses/' ~ item['id'] ~ '.png') }}"
    alt=""
    class="substance-synthesis"
  />
  {% endfor %}
</div>
<h2 class="substance-category-header">Источники</h2>
<div class="substance-category">
  <ul>
    {% for source in substance["sources"] %}
    <li class="substance-category-sources-item">
      {% if source | regex_search("https?:\/\/") %}
      <a class="substance-category-sources-item-link" href="{{ source }}"
        >{{ source }}</a
      >
      {% else %} {{ source }} {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
<h2 class="substance-category-header">Прочее</h2>
<div class="substance-category">
  <p>Обновлено: {{ substance["updated_datetime"] }}</p>
  <p>Добавлено: {{ substance["created_datetime"] }}</p>
  <p>Автор статьи: {{ substance["author"] }}</p>
</div>
<script>
  substance_init();
</script>
{% endif %} {% endblock %}
